# Node.js
node_modules/
npm-debug.log
.DS_Store
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm package manager
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.yarn/
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Editors
.vscode/
.idea/

# Backend specific
backend/uploads/ # Folder where user profile pictures are stored
backend/logs/    # If you have a logs folder

# Frontend specific (React)
build/
dist/
.parcel-cache/
coverage/

# Misc
.env*
.DS_Store